body {
  font-family: "Inter", sans-serif;
}

.nav_div {
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.nav_img {
  height: 30px;
  width: 150px;
}

.nav_btn {
  width: 120px;
  height: 40px;
  font-size: 15px;
  font-weight: 500;
  /* font: 5px, sans-serif; */
  background-color: #e48d8b;
  padding: 6px, 20px;
  border: none;
  color: #ffffff;
}
.nav_inner_grid {
  display: flex;
  justify-content: center;
}

@media (max-width: 425px) {
  
  .heading {
    font-size: 30px;
  }
}

